<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <%- include('./partials/header') %>

    <!-- Main Content -->
    <main class="container mt-5 flex-grow-1">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1 class="mb-4">URL Analytics</h1>
          <!-- <div class="card"> -->
            <!-- <div class="card-body"> -->
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col-2">#</th>
                    <th scope="col-2">Original URL</th>
                    <th scope="col-2">Short URL</th>
                    <th scope="col-2">Total Clicks</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr> -->
                  <% urls.forEach((url, index)=> { %>
                    <tr>
                      <td><%= index+1 %></td>
                      <td><%= url.originalURL %></td>
                      <td>
                        <a href="http://localhost:3000/url/<%= url.shortURL %>"
                          ><%= url.shortURL %></a
                        >
                      </td>
                      <td><%= url.visits.length %></td>
                    </tr>
                    <% }) %>
                </tbody>
                
              </table>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </main>

    <%- include('./partials/footer') %> <%- include('./partials/scripts') %>
  </body>
</html>
